name: Build & Publish

on:
  push:
    branches: [ "main" ]
    paths:
      - "images/**"
      - "ci/**"
  workflow_dispatch:

jobs:
  build:
    name: Build Images
    runs-on: playground-runner # Using the runner with DIND sidecar
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Nexus
        uses: docker/login-action@v3
        with:
          registry: nexus.gillouche.homelab
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container # Required for multi-arch
          endpoint: unix:///var/run/docker.sock

      - name: Build All Images
        run: make build-all
        env:
          NEXUS_REGISTRY: nexus.gillouche.homelab
          NEXUS_NAMESPACE: docker-hosted
